<form {{action "search" on="submit"}}>
  {{input value=queryField}}
  <input type="submit" value="Search"/>
</form>
<ul class="list-group">
  {{#each content.items as |item|}}
    <li class="list-group-item">
      <img src="{{item.snippet.thumbnails.medium.url}}"/>
      {{item.snippet.title}}
      <button
        {{action 'addVideo'
                  item.id.videoId
                  item.snippet.title
                  item.snippet.thumbnails.medium.url}}>
        Add
      </button>
    </li>
  {{/each}}
</ul>
